<section class="banner-home responsive-banner" style="background-image: url(assets/banner-home.png)">
  <div class="banner-container">
    <div class="banner-content">
      <h1 class="h1-wh banner-title">Renovando a energia do Brasil</h1>
      <p class="p-wh banner-description">
        Saiba como ajudar a sociedade, o meio ambiente e ainda diminuir seu custo operacional.
      </p>
      <div class="banner-buttons">
        <button type="button" routerLink="/solucao" routerLinkActive="active" class="btn-outline">
          Saiba Mais
        </button>
        <button type="button" class="btn-primary" routerLink="/cadastro" routerLinkActive="active">
          Cadastre-se
        </button>
      </div>
    </div>
  </div>
</section>
