<section class="stats-section">
  <div class="stats-container">
    <div class="stats-image">
      <img
        class="image-layout"
        src="assets/recicla.png"
        alt="Simbolo de reciclagem"
      />
    </div>
    <div class="stats-content">
      <h1 class="h1-gr stats-title">#EnergiaLimpa</h1>
      <div class="stats-grid">
        <div class="stat-item">
          <h2 class="h2-big-number">+8700</h2>
          <h3 class="stat-label">Famílias Atendidas</h3>
        </div>
        <div class="stat-item">
          <h2 class="h2-big-number">753</h2>
          <h3 class="stat-label">Empresas Cadastradas</h3>
        </div>
        <div class="stat-item">
          <h2 class="h2-big-number">7587t</h2>
          <h3 class="stat-label">Biomassa Processadas</h3>
        </div>
        <div class="stat-item">
          <h2 class="h2-big-number">8773MW</h2>
          <h3 class="stat-label">Energia Gerada</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="process-section">
  <div class="process-container">
    <h1 class="h1-gr section-title">Como Fazemos</h1>
    <div class="process-grid">
      <div class="process-card">
        <img src="assets/processo 1.png" alt="Resíduo Produzido" class="process-img">
        <div class="process-content">
          <h5 class="h2-gr process-title">Resíduo Produzido</h5>
        </div>
      </div>
      <div class="process-card">
        <img src="assets/processo 2.png" alt="Gerador de Bioenergia" class="process-img">
        <div class="process-content">
          <h5 class="h2-gr process-title">Gerador de Bioenergia</h5>
        </div>
      </div>
      <div class="process-card">
        <img src="assets/processo 3.png" alt="Energia liberada" class="process-img">
        <div class="process-content">
          <h5 class="h2-gr process-title">Energia liberada</h5>
        </div>
      </div>
      <div class="process-card">
        <img src="assets/processo 4.png" alt="Família atendida" class="process-img">
        <div class="process-content">
          <h5 class="h2-gr process-title">Família atendida</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta-section" style="background-image: url(assets/mascara-folha.png);">
  <div class="cta-container">
    <div class="cta-content">
      <h1 class="h1-wh cta-title">Mudando o mundo com energia</h1>
      <p class="p-wh cta-description">
        Com o Biogen, famílias que antes enfrentavam dificuldades com o alto
        custo da energia elétrica agora têm acesso a uma solução acessível e
        sustentável. Nosso compromisso é melhorar a qualidade de vida dessas
        comunidades, proporcionando uma fonte de energia confiável e amiga
        do meio ambiente.<br /><br />

        Junte-se a nós nessa jornada de transformação energética. Ao apoiar
        o Biogen, você está investindo em um futuro mais sustentável e
        equitativo para todos. Venha fazer parte dessa iniciativa que está
        mudando vidas e construindo um amanhã mais brilhante.
      </p>
      <button class="btn-outline" routerLink="/sobre" routerLinkActive="active">
        Conheça o projeto
      </button>
    </div>
  </div>
</section>
