<section class="cta-banner responsive-cta" style="background-image: url('assets/banner-cta.png')">
  <div class="cta-banner-container">
    <div class="cta-banner-content">
      <h2 class="cta-banner-title">Faça parte você também</h2>
      <p class="cta-banner-description">
        Cadastre-se com seu número NIS para participar do projeto e receber
        energia mais barata.
      </p>
      <div class="cta-banner-buttons">
        <button type="button" class="btn-outline" routerLink="/sobre" routerLinkActive="active">
          Saiba Mais
        </button>
        <button type="button" class="btn-primary" routerLink="/cadastro" routerLinkActive="active">
          Cadastre-se
        </button>
      </div>
    </div>
  </div>
</section>
