<!-- Sobre Nós -->
<div>
  <h1 class="h1-gr margin-title" style="text-align: center">Sobre nós</h1>
</div>

<div class="flex-container div-margin-10">
  <div>
    <p class="text-left">
      O Projeto Biogen tem como principal objetivo destinar resíduos
      orgânicos de forma sustentável, provenientes de grandes indústrias
      alimentícias, pecuárias e agrícolas. A ideia é converter esses
      resíduos em biogás utilizando um sistema de biodigestores. Esse biogás
      pode ser transformado em energia elétrica limpa e acessível,
      beneficiando comunidades de baixa renda. Além disso, o projeto ajuda a
      reduzir as emissões de CO2 na atmosfera, contribuindo para a proteção
      do meio ambiente.
    </p>
  </div>
  <div>
    <img src="assets/logo-biogen.png" alt="Logo Biogen"/>
  </div>
</div>

<!-- Nossa Equipe -->
<div id="time" class="respiro">
  <h1 class="h1-gr margin-title" style="text-align: center">Nossa equipe</h1>

  <div class="div-margin-10">
    <div class="team-grid margin-title">

      <!-- Card 1 -->
      <div class="team-card">
        <div class="member-photo">
          <img src="assets/int alessandro.png" alt="Alessandro Rodrigues">
        </div>
        <div class="member-info">
          <h2 class="member-name">Alessandro Rodrigues</h2>
          <p class="member-role">CEO</p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="team-card">
        <div class="member-photo">
          <img src="assets/int daniel.png" alt="Daniel Adeljarbas">
        </div>
        <div class="member-info">
          <h2 class="member-name">Daniel Adeljarbas</h2>
          <p class="member-role">Diretor de Tecnologia</p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="team-card">
        <div class="member-photo">
          <img src="assets/int taise.png" alt="Taise Rodrigues">
        </div>
        <div class="member-info">
          <h2 class="member-name">Taise Rodrigues</h2>
          <p class="member-role">Diretora de Marketing</p>
        </div>
      </div>

    </div>
  </div>
  <div class="div-margin-10">
    <div class="team-grid margin-title">

      <!-- Card 4 -->
      <div class="team-card">
        <div class="member-photo">
          <img src="assets/int thiago.jpeg" alt="Thiago Muniz">
        </div>
        <div class="member-info">
          <h2 class="member-name">Thiago Muniz</h2>
          <p class="member-role">Diretor Financeiro</p>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="team-card">
        <div class="member-photo">
          <img src="/assets/Rafael.png" alt="Rafael">
        </div>
        <div class="member-info">
          <h2 class="member-name">Raphael Cremer</h2>
          <p class="member-role">DBA</p>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Como Fazemos -->
<section class="process-section">
  <div class="process-container">
    <h1 class="h1-gr section-title">Como Fazemos</h1>
    <div class="process-grid">

      <div class="process-card">
        <img src="assets/processo 1.png" alt="Resíduo Produzido" class="process-img">
        <div class="process-content">
          <h5 class="h2-gr process-title">Resíduo Produzido</h5>
        </div>
      </div>

      <div class="process-card">
        <img src="assets/processo 2.png" alt="Gerador de Bioenergia" class="process-img">
        <div class="process-content">
          <h5 class="h2-gr process-title">Gerador de Bioenergia</h5>
        </div>
      </div>

      <div class="process-card">
        <img src="assets/processo 3.png" alt="Energia liberada" class="process-img">
        <div class="process-content">
          <h5 class="h2-gr process-title">Energia liberada</h5>
        </div>
      </div>

      <div class="process-card">
        <img src="assets/processo 4.png" alt="Família atendida" class="process-img">
        <div class="process-content">
          <h5 class="h2-gr process-title">Família atendida</h5>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Missão, Visão e Valores -->
<section class="missao-section">
  <h2 class="h1-gr">Nossa Missão</h2>

  <div class="missao-grid">
    <div class="missao-card">
      <h3>Missão</h3>
      <p>
        Nossa missão é oferecer produtos e serviços de alta qualidade que
        superem as expectativas dos nossos clientes, mantendo os mais
        elevados padrões de integridade e responsabilidade.
      </p>
    </div>

    <div class="missao-card">
      <h3>Visão</h3>
      <p>
        Nossa visão é liderar nosso setor, alcançando a excelência
        operacional e impactando positivamente a sociedade por meio da
        inovação e responsabilidade social.
      </p>
    </div>

    <div class="missao-card">
      <h3>Valores</h3>
      <p>
        Valorizamos a excelência, integridade, inovação, colaboração e
        responsabilidade social e ambiental em todas as nossas operações e
        decisões.
      </p>
    </div>
  </div>
</section>
